.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
  transition: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  width: 80px;
  object-fit: contain;
}
