.row {
  margin-top: 2rem;
  margin-left: 20px;
  color: white;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.poster:hover {
  transform: scale(1.08);
}

.posters_large {
  max-height: 250px;
}

.posters_large:hover {
  transform: scale(1.09);
}
